<head>
    <title>Victorian Household Waste Recycling</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    

    <script type="text/javascript">
        
        
        let items = <%-JSON.stringify(ejs_items)%>
        console.log(items);

        function displayCalc(){
            let displayArea = document.getElementById("display");
            let inputArea = document.getElementById("inputArea");
            console.log(inputArea.value);
        }
        

    </script>
</head>