<head>
    <title>Victorian Household Waste Recycling</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript">
        
        
        let items = <%-JSON.stringify(ejs_items)%>
        console.log(items);
        

    </script>
</head>