<head>
    <title>Victorian Household Waste Recycling</title>
    <script src="https://kit.fontawesome.com/f77ac44772.js" crossorigin="anonymous"></script> <!--Font Awesome icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    

    <script type="text/javascript">
        
        // all data from the database
        let items_table = <%-JSON.stringify(ejs_items)%>
        let local_govs_table = <%-JSON.stringify(ejs_govs)%>
        let trends_table = <%-JSON.stringify(ejs_trends)%>
        let centres_table = <%-JSON.stringify(ejs_centres)%>

        console.log(items_table);
        console.log(local_govs_table);
        console.log(trends_table);
        console.log(centres_table);

        // CANS
        function displayCalc(){ // not used
            let displayArea = document.getElementById("display");
            let inputArea = document.getElementById("inputArea");
            let inputValue = inputArea.value;
            console.log(inputValue);
            
            // create display string from items
            if(isNaN(inputValue)){
                displayArea.innerHTML = "Please enter a whole number"
            }
            else{
                let gigaj = inputValue/items[0]["energy_saved_gj"];
                let cars = inputValue/items[0]["equivalent_cars"];
                let trees = inputValue/items[0]["equivalent_trees"];

                let displayString = "Recycling " + inputValue + " tonnes of Aluminium Cans </br>";
                displayString += "Saves " + gigaj + " GigaJoules of Energy </br>";
                displayString += "Is equivalent to " + cars + " days of driving </br>";
                displayString += "Is equivalent to " + trees + " trees planted </br>";

                displayArea.innerHTML = displayString;
            }
        }

        // CANS Boot list
        function displayCalcBoot(){
            let displayArea = document.getElementById("display");
            let inputArea = document.getElementById("inputArea");
            let inputValue = inputArea.value;
            console.log(inputValue);

            while (displayArea.hasChildNodes()) {
                displayArea.removeChild(displayArea.firstChild);
            }

            // create list
            var ul_el = document.createElement("ul");
            ul_el.className = "list-group";
            
            // create display string from items
            if(isNaN(inputValue)){
                let li_e = document.createElement("li");
                li_e.className = "list-group-item";
                li_e.innerHTML = "Please enter a whole number";
                ul_el.append(li_e);

            }
            else if(inputValue < 0){
                let li_e = document.createElement("li");
                li_e.className = "list-group-item";
                li_e.innerHTML = "Please enter a positive number";
                ul_el.append(li_e);

            }
            else{
                let gigaj = inputValue/items[0]["energy_saved_gj"];
                let cars = inputValue/items[0]["equivalent_cars"];
                let trees = inputValue/items[0]["equivalent_trees"];

                // header
                let displayStringHead = "<strong>Recycling " + inputValue + " tonnes of Aluminium Cans</strong>";
                let li_h = document.createElement("li");
                li_h.className = "list-group-item";
                li_h.innerHTML = displayStringHead;
                ul_el.append(li_h);

                // energy
                let displayStringEnergy = "Saves " + gigaj + " GigaJoules of Energy";
                let li_e = document.createElement("li");
                li_e.className = "list-group-item";
                li_e.innerHTML = displayStringEnergy;
                ul_el.append(li_e);

                // cars
                let displayStringCars = "Is equivalent to " + cars + " days of driving";
                let li_c = document.createElement("li");
                li_c.className = "list-group-item";
                li_c.innerHTML = displayStringCars;
                ul_el.append(li_c);

                // trees
                let displayStringTrees = "Is equivalent to " + trees + " trees planted";
                let li_t = document.createElement("li");
                li_t.className = "list-group-item";
                li_t.innerHTML = displayStringTrees;
                ul_el.append(li_t);
            }
            displayArea.append(ul_el);

        }

        // CANS Boot list
        function displayCalcBootOrg(){
            let displayArea = document.getElementById("display");
            let inputArea = document.getElementById("inputAreaOrg");
            let inputValue = inputArea.value;
            console.log(inputValue);

            while (displayArea.hasChildNodes()) {
                displayArea.removeChild(displayArea.firstChild);
            }

            // create list
            var ul_el = document.createElement("ul");
            ul_el.className = "list-group";
            
            // create display string from items
            if(isNaN(inputValue)){
                let li_e = document.createElement("li");
                li_e.className = "list-group-item";
                li_e.innerHTML = "Please enter a whole number";
                ul_el.append(li_e);

            }
            else if(inputValue < 0){
                let li_e = document.createElement("li");
                li_e.className = "list-group-item";
                li_e.innerHTML = "Please enter a positive number";
                ul_el.append(li_e);

            }
            else{
                let gigaj = inputValue/items[0]["energy_saved_gj"];
                let cars = inputValue/items[0]["equivalent_cars"];
                let trees = inputValue/items[0]["equivalent_trees"];

                // header
                let displayStringHead = "<strong>Recycling " + inputValue + " tonnes of Garden Organics</strong>";
                let li_h = document.createElement("li");
                li_h.className = "list-group-item";
                li_h.innerHTML = displayStringHead;
                ul_el.append(li_h);

                // energy
                let displayStringEnergy = "Saves " + gigaj + " GigaJoules of Energy";
                let li_e = document.createElement("li");
                li_e.className = "list-group-item";
                li_e.innerHTML = displayStringEnergy;
                ul_el.append(li_e);

                // cars
                let displayStringCars = "Is equivalent to " + cars + " days of driving";
                let li_c = document.createElement("li");
                li_c.className = "list-group-item";
                li_c.innerHTML = displayStringCars;
                ul_el.append(li_c);

                // trees
                let displayStringTrees = "Is equivalent to " + trees + " trees planted";
                let li_t = document.createElement("li");
                li_t.className = "list-group-item";
                li_t.innerHTML = displayStringTrees;
                ul_el.append(li_t);
            }
            displayArea.append(ul_el);

        }

        // ORGANICS
        function displayCalcOrg(){ // not used
            let displayArea = document.getElementById("display");
            let inputArea = document.getElementById("inputAreaOrg");
            let inputValue = inputArea.value;
            console.log(inputValue);
            
            if(isNaN(inputValue)){
                displayArea.innerHTML = "Please enter a whole number"
            }
            else{
                let gigaj = inputValue/items[5]["energy_saved_gj"]*-1; // error in data
                let cars = inputValue/items[5]["equivalent_cars"];
                let trees = inputValue/items[5]["equivalent_trees"];

                let displayString = "Recycling " + inputValue + " tonnes of Garden organics </br>";
                displayString += "Saves " + gigaj + " GigaJoules of Energy </br>";
                displayString += "Is equivalent to " + cars + " days of driving </br>";
                displayString += "Is equivalent to " + trees + " trees planted </br>";

                displayArea.innerHTML = displayString;
            }
        }
        

    </script>
</head>