<!DOCTYPE html>
<html>
  
  <% include ./partials/head %>
  <body>
    <h1>...Coming Soon</h1>
    <p>Team 7's super, amazing, wonderful, fantastic recycling webApp</p>
	<p>You won't believe your eyes!!!</p>
  </body>
</html>
