<!DOCTYPE html>
<html>
  
  <% include ./partials/head %>
  <body>
      
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">

    <!--title-->
    <div class="container-fluid">
      <h1 class="text-center">Victorian Household </br>Waste Recycling</h1>
      <div class="text-center">
        <span class="fas fa-recycle icon"></span>
      </div>
    </div>

    <!--landing page-->
    <div class="container-fluid" id="container-landing">
      <div class="row justify-content-md-center" >
        <div class="col col-lg-3">
          <div class="feature calc tile justify-content-center  d-flex align-items-center" id="tile1" onmouseover="highlightTile(this)" onmouseout="highlightOut(this)">
            <p class="feature calc font-weight-bold">Use the </br> Environmental Benefits Calculator</p>
          </div>
        </div>

        <div class="col col-lg-3">
          <div class="feature perf tile justify-content-center  d-flex align-items-center" id="tile2" onmouseover="highlightTile(this)" onmouseout="highlightOut(this)">
           <p class="feature perf font-weight-bold">Check your </br> Local Region Waste Management Performance</p>
          </div>
        </div>

        <div class="col col-lg-3">
          <div class="feature rec tile justify-content-center  d-flex align-items-center" id="tile3" onmouseover="highlightTile(this)" onmouseout="highlightOut(this)">
            <p class="feature rec font-weight-bold">Find your </br> Closest Recycling Centre</p>
          </div>
        </div>

      </div>
    </div>

    <!--calculator-->
    <div class="container-fluid" id="container-calculator" style="display:none;">
      <div class="input-group mb-3 searchBar mx-auto">
        <div class="input-group-prepend">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Aluminium Cans
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropHeader">
              
            </div>
          </div>
        </div>
        <input type="text" class="form-control" id="inputArea" placeholder="Enter amount in tonnes" aria-label="Enter amount in tonnes" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" onclick="displayCalcBoot()">Check Environmental Benefits</button>
        </div>
      </div> 

      <div class="mx-auto displayArea" id="display">
        
      </div>
      <div class="back text-center backButton">
        <span class="back fas fa-backward icon"> Back</span>
      </div>
    </div>

    <!--graph-->
    <div class="container-fluid" id="container-trends" style="display:none;">
      <h6>Victorian Metropolitan and Regional Waste Management Diversion Rate Trends</h6>
      <div id="plot_chart"></div>
      <div class="back text-center backButton">
        <span class="back fas fa-backward icon"> Back</span>
      </div>
      </div>

      <!--map-->
      
    <div class="container-fluid" id="container-map" style="display:block;">
      <h6>Victorian Collection Centre Locations</h6>
      <div id="map"></div>
      <div class="back text-center backButton">
        <span class="back fas fa-backward icon"> Back</span>
      </div>
      </div>
      <!--Mapbox tiles and layers-->
      <!--mapbox://styles/scav6/clff9jytl000s01olw0tp2vva-->
      <!--mapbox://styles/scav6/ck9o7yz7o06zd1ip9091685m3-->
      <!--mapbox://styles/scav6/ck9oe4ej300r81ipkwfn7tt9g-->
      <!--mapbox://styles/scav6/clff9dqt6001201o0tpcwzng7-->
      <script>

        // map attributes
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2NhdjYiLCJhIjoiY2s5bzZ6dGVvMDl4eDNlcnZjbG8xM2RraiJ9.igVNjfxyOYCvwGSflM9DQA';
        const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/scav6/clff9jytl000s01olw0tp2vva', // replace this with your style URL
        center: [144.94, -37.84],
        zoom: 9.0,
        customAttribution: 'Map by MonashTechTitans'});

          // geolocate
        map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
        enableHighAccuracy: true
        },
        trackUserLocation: true,
        showUserHeading: true
        }));

        // directions control
        map.addControl(
        new MapboxDirections({
        accessToken: mapboxgl.accessToken
        }),
        'top-left'
        );

        
        // Create new markers 
        // (hard coded dummy data  to demo)
        // ..and getting ejs data to here??

        const marker = new mapboxgl.Marker()
        .setLngLat([145.14831,  -37.80455])
        .setPopup(new mapboxgl.Popup().setHTML("Ringwood Recycle Centre"))
        .addTo(map);

        const marker2 = new mapboxgl.Marker()
        .setLngLat([144.97, -37.7888])
        .setPopup(new mapboxgl.Popup().setHTML("Mitcham Recycle Centre"))
        .addTo(map);

        const marker3 = new mapboxgl.Marker()
        .setLngLat([145.05939, -37.9431])
        .setPopup(new mapboxgl.Popup().setHTML("Belgrave Recycle Centre"))
        .addTo(map);

        const marker4 = new mapboxgl.Marker()
        .setLngLat([145.00147, -37.90845])
        .setPopup(new mapboxgl.Popup().setHTML("Clayton Recycle Centre"))
        .addTo(map);

        const marker5 = new mapboxgl.Marker()
        .setLngLat([145.1213, -37.8437])
        .setPopup(new mapboxgl.Popup().setHTML("Waverly Recycle Centre"))
        .addTo(map);

        const marker6 = new mapboxgl.Marker()
        .setLngLat([145.09185,  -37.90587])
        .setPopup(new mapboxgl.Popup().setHTML("Hawthorn Recycle Centre"))
        .addTo(map);

        const marker7 = new mapboxgl.Marker()
        .setLngLat([145.04082, -37.758309])
        .setPopup(new mapboxgl.Popup().setHTML("Fitzroy Recycle Centre"))
        .addTo(map);

        const marker8 = new mapboxgl.Marker()
        .setLngLat([144.986112, -37.74105])
        .setPopup(new mapboxgl.Popup().setHTML("Richmond Recycle Centre"))
        .addTo(map);

        const marker9 = new mapboxgl.Marker()
        .setLngLat([145.106229, -37.709041])
        .setPopup(new mapboxgl.Popup().setHTML("Carlton Recycle Centre"))
        .addTo(map);

        const marker10 = new mapboxgl.Marker()
        .setLngLat([145.108792, -37.78136])
        .setPopup(new mapboxgl.Popup().setHTML("Collingwood Recycle Centre"))
        .addTo(map);

        

    </script>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
