body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/leaves.png");
  padding: 5rem;
  letter-spacing: 0.3rem;
}


a {
  color: #00B7FF;
}

h1 {
  color: white;
}

.displayArea{
  background-color: whitesmoke;
  width:50%;
  letter-spacing:normal;
}

.icon{
  font-size: 2em;
  color: white;
  margin-bottom: 1em;
  letter-spacing:normal;
}

.searchBar{
  width:70%;
}

.tile{
  background-color:black;
  height: 30vh;
  border-radius: 0.5rem;
  cursor:pointer;
  padding: 1rem;
  opacity: .7;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color:white;
}

.backButton{
  cursor:pointer;
}



#plot_chart{
  width: 100%;
  height: 50vh;
}

#map{ 
  height: 50vh;
  width: 100%;
}


h6{
  color:whitesmoke;
}

.axes{
  stroke:white;
  color:white;
}