body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/leaves.png");
  padding: 5rem;
}

a {
  color: #00B7FF;
}

h1 {
  color: white;
}

.displayArea{
  background-color: whitesmoke;
  width:50%;
}

